<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <span class="copyleft">&copy;</span>2017-2022 Ultrasonic<br />
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="{{ site.git_website_url }}">Website sources</a>
        {% if site.git_docs_url %}
        | <a href="{{ site.git_docs_url }}">Documentation sources</a>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
