<head>
  <!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description | default: site.gitlab.project_tagline | normalize_whitespace }}">
  <meta name="author" content="{{ site.author | default: site.gitlab.owner_name }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="url" content="{{ site.url }}" itemprop="url">
  <meta property="og:title" content="{{ site.title | default: site.gitlab.repository_name }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ site.description | default: site.gitlab.project_tagline | normalize_whitespace }}">
  <meta property="og:image" content="{{ '/assets/img/favicon-512.png' | absolute_url }}">

  <title>{{ site.title | default: site.gitlab.repository_name }}</title>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.gitlab.build_revision | relative_url }}">

  <!-- page css -->
  <!-- link rel="stylesheet" href="" -->

  <!-- favicons -->
  <link rel="icon" type="image/png" href="{{ '/assets/img/favicon-512.png' | relative_url }}" sizes="512x512">
  <link rel="icon" type="image/png" href="{{ '/assets/img/favicon-256.png' | relative_url }}" sizes="256x256">
  <link rel="icon" type="image/png" href="{{ '/assets/img/favicon-128.png' | relative_url }}" sizes="128x128">
  <link rel="icon" type="image/png" href="{{ '/assets/img/favicon-64.png' | relative_url }}" sizes="64x64">
  <link rel="icon" type="image/png" href="{{ '/assets/img/favicon-32.png' | relative_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ '/assets/img/favicon-16.png' | relative_url }}" sizes="16x16">
</head>
